@media only screen and (max-width: 1690px)
	// ABOUT PAGE
	.family__companies-col
		.family__companies_p
			line-height: 1.3em
		.family__companies_text
			font-size: 17px
	.family__companies-col
		&:first-child
			max-width: 45%
		&:last-child
			max-width: 52%

@media only screen and (max-width: 1525px)
	// ABOUT PAGE
	.family__companies-col
		.family__companies_p
			line-height: 1.1em !important

@media only screen and (max-width: 1438px)

	// TEXT BG
	.text__bg 
		font-size: 15vw 
		letter-spacing: 10vw
		top: 0
	.text__bg-about
		top: 3%	
	.text__bg-search 
		letter-spacing: 8vw
	.text__bg_estate
		top: -35px
		letter-spacing: 9vw !important
	.text__bg_contacts
		top: 0%
		left: 5%
		letter-spacing: 5vw
		font-size: 10vw

	// ADVANTAGES
	.advantages
		padding: 70px 0 80px 
	.advantages__list
		max-width: 705px	
		margin-top: 68px 
	.advantages__list_item
		max-width: 48% 
		margin: 1% auto
		height: 137px 
		padding-left: 0 
		&:nth-child(2n)
			margin-right: 0 
			margin-left: auto
		&:nth-child(2n+1)
			margin-left: 0 
			margin-right: auto
	.advantages__list-logo
		max-width: 98px 
		width: 100%	 
		height: 117px
	.advantages__list-text
		width: 206px 
	
	// SEARCH
	.search 
		padding: 130px 0 43px !important 
	.estate 
		.search__cards_item		
			margin: 3px auto  
	.more__btn 
		margin-top: 20px !important

	// ABOUT PAGE
	.text__bg-about-page
		letter-spacing: 8vw !important 
		top: 100px !important
	.about__company_card 
		flex-wrap: wrap
		padding: 35px 40px 25px 45px
	.about__company_card_img
		margin-bottom: 20px
		width: 100%
		margin-right: 0
	.about__company_card	
		p
			margin-bottom: 0px 
	.about__company_card_text
		width: 70% 
	.family__companies_p
		line-height: 25px
	.family__companies-col 
		.family__companies_p 
			line-height: 23px !important
	.family__companies_img
		max-height: 345px 
		max-width: 300px 
		border-radius: 35px	
		img, picture
			max-height: 345px
			min-width: 300px
			height: 100% 
			width: 100%
			border-radius: 35px 
			object-fit: cover
			object-position: center 21% 
	
	.family__companies-col
		&:first-child 
			.family__companies_img
				max-height: 335px !important
				max-width: 360px !important
				border-radius: 35px	
				img, picture
					min-height: 334px 
					min-width: 360px 
					border-radius: 35px 
			margin-bottom: 35px !important
		&:last-child 
			.family__companies_img
				max-height: 381px !important
				max-width: 302px !important
				border-radius: 35px	 
				img, picture
					min-height: 381px  
					min-width: 302px 
					border-radius: 35px 
					margin-right: 0px
			.family__companies_text
				margin-right: 0
				margin-left: 27px

	// ESTATE
	.estate 
		border-radius: 35px 
	.estate__form
		max-width: 736px
		width: 100%
	.estate__filter
		padding: 192px 0px 55px 0
	.estate__cards
		margin-top: 62px
		.search__cards
			max-width: 750px
		.search__cards_item	 
			height: 364px 
			width: 367px
			border-radius: 35px
			.search__cards_img 
				width: 100%
				height: 100%
			img 
				object-fit: cover
				border-radius: 35px
		.search__cards_title
			font-size: 30px
		.search__cards_price
			font-size: 24px
		.search__cards_text
			top: 0
			flex-direction: column
			height: 100%
			align-items: center
			padding: 169px 0 22px 0
		.search__cards_price
			align-self: flex-end
			margin-right: 18px
	.estate__pagination
		margin-top: 49px
		max-width: 281px
	.pagination__item a
		font-size: 17px 
	.banner, .contacts__banner
		height: 178px
		background-color: #1e6465
		background-image: initial !important
		z-index: -1 
	.estate__title
		position: absolute
		top: 1px
		z-index: 3
		color: #1e6465
		font-size: 36px 
		max-width: 510px
		width: 100%

	.header__estate
		.header__social
			a
				&:first-child
					margin-top: 50px
				img
					filter: initial

	// .recomendation__items, .recomendations__header
	// 	max-width: 750px 
	// .recomendation__img
	// 	margin: 0 3px
	// .recomendation__img, .recomendation__img img
	// 	width: 240px
	// 	height: 240px

	// ABOUT PAGE
	.family__companies-row
		flex-direction: column
		margin-top: 40px !important
		align-items: center
	.family__companies-col 
		max-width: 100% !important
		width: 100%	
		.family__companies_founder
			display: flex 
			margin-bottom: 32px !important
	.reverse	
		flex-direction: row-reverse 

@media only screen and (max-width: 1350px)
	// ABOUT 
	.about	
		&::before	
			letter-spacing: 0.07em 
	.about__list 
		min-width: 100% 
		margin: 0
		margin-top: 75px 
		margin-bottom: 111px
		flex-wrap: wrap !important
		justify-content: center !important 
	.about__list_item
		max-width: 53%
	.about__list-title
		min-width: 280px
		font-size: 27px !important
	.about__list-text
		font-size: 19px 
		max-width: 310px
		width: 100%
	.about__list-logo
		max-height: 73px

	// SEARCH
	.search__criteria 
		flex-direction: column
		justify-content: center
		align-items: flex-start
		max-width: 661px
		width: 100% !important
		margin-bottom: 23px !important
	.search__title
		margin-bottom: 35px
		margin-left: 0px 
	.search__form
		align-self: flex-end

	// FOOTER
	.footer
		flex-wrap: wrap
		height: 100%
		justify-content: center
		padding: 92px 23px 54px 32px
	.footer__nav 
		width: 100% 
	.footer__nav-item
		width: 50%
		margin-left: 35px 
		&:last-child
			margin-left: 140px
	.footer__nav-title
		font-size: 25px
	.footer__nav-list ul li a
		font-size: 22px 
		line-height: 39px
	.footer__bigger 
		width: 100%
		flex-direction: row
		align-items: center 
		margin-top: 85px
	.footer__bigger-title
		display: none
	.rounded_icon
		padding: 13px
	.footer__bigger-list 
		width: 50%
		margin-right: 37px
		align-self: center
		justify-content: center !important	
		ul
			margin-bottom: 0px
			justify-content: space-around
			li
				margin-right: 0px
				max-width: 66px 
				max-height: 66px 
				width: 100% 
				height: 100%	
				a 
					max-width: 66px
					max-height: 66px 
					img
						position: static
						transform: initial
						vertical-align: middle
				i 
					width: 66px
					height: 66px 
					&::before
						font-size: 66px
				.fa-facebook-f, .fa-instagram
					&::before
						font-size: 38px 
				.fa-youtube
					&::before
						font-size: 59px 
	.footer__btn-phone 
		height: 65px 
		width: 50% 
		margin-right: 0
		margin-left: auto
		font-size: 31px 
		line-height: 61px
	.inside
		margin-top: -30px

	// ABOUT PAGE 
	.founders 
		padding: 225px 12px 8px 13px
	.founders__title
		top: 79px 
		left: 31px 
	.founders__about
		justify-content: space-between
	.founders__about_cards
		margin: 0 
		margin-left: 8px
	.founders__about_title
		font-size: 20px
		line-height: 23px
		margin-bottom: 14px
	.founders__about_card
		margin-bottom: 6%
		max-width: 98%
		&:last-child
			margin-bottom: 0px
	.founders__about_img 
		max-height: 760px 
		width: 100% 
	.family__companies 
		position: relative
		margin-top: 80px
		padding-left: 13px
		padding-bottom: 0px
	.family__companies-first_line
		position: absolute
		width: 100%
		top: 0 
		left: 13px 
	.family__companies_founder
		display: block
	.family__companies_text
		margin: 0
	.family__companies_img 
		img, picture
			height: 345px
			width: 300px
			border-radius: 35px 
			object-fit: cover
			object-position: center 21% 
			float: left
			margin: 0 16px 16px 0
	
	// CONTACTS PAGE 
	.contacts__map 
		margin-top: 40px !important
	.contacts
		border-radius: 70px 
	.footer__phone
		display: none !important
	.footer__btn-phone
		margin-top: 0 

	// ESTATE
	.recomendations__line 
		max-width: 50%
		width: 50%
	.recomendations__title
		max-width: 50%
		width: 50%
	
	.about__stat 
		flex-wrap: wrap !important
	.about__stat_item
		width: 100% !important
		margin-bottom: 70px !important
		&:nth-child(2n)
			margin-left: 0 !important
		&:last-child
			margin-bottom: 0 !important

	.contacts
		margin-top: -64px

@media only screen and (max-width: 1100px)
	// ABOUT PAGE
	.about__company_card_text
		width: 100% !important
		p 
			display: inline 
	
	// CONTACTS PAGE 
	.contacts__title
		margin-left: 0
	.contacts__coordinates
		max-width: 100% 
		margin: 0 auto
		justify-content: space-between
		.contacts_item 
			&:last-child
				width: 100%

	.contacts__social
		margin: 0
		width: 100% !important 

	.footer__dark
		.footer__nav-item, .footer__nav-title, .footer__bigger, .footer__nav-list ul a, .footer__bigger-list i
			color: #ffffff !important 
		.footer__bigger-list 
			.rounded_icon 
				border-radius: 50%
				padding: 8px
				background-color: #fff !important
				color: #1e6465 !important
			.contacts__title
				margin-bottom: 75px
		
	.footer__light
		background-color: $white
		background-image: url('../img/waves_bg_footer-green.png')
	
	.text__bg_contacts
		font-size: 13vw
		letter-spacing: 3vw

	.estate__recomendations
		padding: 90px 12px 40px 

	.slider
		margin-top: 30px
	.object
		.gallery_thubn
			.slick-track
				height: 95px
			.slick-slide, img
				height: 95px
				width: 95px
				margin: 0
			.slick-slide
				margin: 15px 7px
			.slick-list
				margin: 0 auto 
				max-width: 100% !important
				img
					width: 100%
	.object__name, .object__code
		margin-left: 66px
		width: 100%
	.object__name
		font-size: 50px
		margin-bottom: 10px
		letter-spacing: 0.02em
	.object__code
		font-size: 19px 
		font-weight: 400
	.object__price
		margin-bottom: 35px
	.object__info
		display: block
		background-color: $white
		margin: 147px 30px 40px 26px
		padding: 50px 7px 21px 
		border-radius: 70px
		box-shadow: 0px 15px 60px 18px rgba(0,0,0,.21)

	.object__price, .object__characteristics, .object__desc
		background-color: transparent 
		padding: 0
		margin: 0
		text-align: left 
	.object__btn
		position: absolute
		bottom: 41% 
		left: 50%
		transform: translateX(-50%)
		margin: 0 auto
	.object__btn input
		width: 697px 
		height: 111px
		border-radius: 42px
		padding: 36px 197px 46px 197px
		text-align: center
		margin: 0
	.object__desc
		max-width: 100%
		background-color: $gainsboro
		padding: 28px 33px 30px 40px
		margin: 0 auto 
	.object__price, .object__characteristics
		margin-left: 57px
	.desc__title
		margin: 0
		font-size: 36px

	.desc__text
		font-size: 26px
		letter-spacing: 0

@media only screen and (max-width: 930px)
	// HEADER 
	header
		&:not(.header__about)
			padding: 16px 56px 0px 47px 
	.object__btn
		bottom: 42% 
	// .header__socials
	// 	&:active
	// 		.header__social
	// 			display: block
	// HEADER 
	.header__about
		padding: 16px 56px 90px 47px !important
	.head__menu 
		display: none !important
	.toggle__mnu
		display: block !important
	.header__phone 
		margin: 0 !important
	.toggle__mnu 
		background-color: transparent
		border: none	

@media only screen and (max-width: 890px)
	// MAIN 
	.main_head 
		height: 100% 
		background-image: url(../img/mob_bg.png),radial-gradient(circle at 80% 4%,#c9ebfb 17%,#73acc7 66%)
	.main__content
		padding: 51vh 7px 94px 17px !important
		margin-left: 25px !important
	.main__title 
		margin-bottom: 85px 
		font-size: 60px 
		letter-spacing: 2.4px 
		max-width: 687px 
		width: 100% 
	.main__btn
		width: 362px !important
		height: 80px !important
		padding: 32px auto 29px auto !important
		font-size: 25px !important
	
	// ABOUT 
	.about 
		&::before 
			max-width: 100vw
			width: 100%
			font-size: 10em 
	// .container 
	// 	padding-left: 26px !important
	// 	padding-right: 23px !important
	.container
		padding-left: 15px !important
		padding-right: 15px !important


	// ABOUT PAGE 
	.about__company
		padding: 247px 41px 28px 46px !important
	.about__company_p_title
		font-size: 38px
		margin-bottom: 40px !important
	.about__company_p_text
		max-width: 100%
	.founders__about_img
		img 
			max-width: 100%
			width: 100% !important
			height: 760px !important
	.founders__about_cards
		max-width: 40%
	.family__companies-first_line
		font-size: 19px
	.founders__about_p 
		line-height: 1.1em
	
	// CONTACTS PAGE
	.contacts__map 
		max-height: 573px
		max-width: 655px
		height: 100% !important
		width: 100% !important
		img
			max-width: 100%
			max-height: 100%
			height: 573px !important
			width: 655px !important
			object-fit: cover
	
	// ESTATE
	.recomendations__line 
		width: 50%
	.recomendations__title
		max-width: 50%
		width: 50%
		text-align: center
	
	.text__bg_contacts 
		top: 0%
		letter-spacing: 2vw
		font-size: 15vw
	.estate__title 
		top: 200px !important 
		left: 67px !important 
		padding: 0 !important 
		height: 72px

	// Slider styles
	.recomendations__header
		width: 730px
	.estate
		.slick-list
			width: 730px 
			margin: 0 auto !important
		.slick-slide
			width: 250px 
	.recomendation__img img
		width: 240px 
		height: 240px 

	// Footer
	.footer__nav-item 
		margin-left: 35px 
		&:last-child
			margin-left: 75px

@media only screen and (max-width: 770px)
	.footer__nav-item 
		margin-left: 30px 
		&:last-child
			margin-left: 50px
	.object__btn
		bottom: 44% 
	.estate 
		.search__cards_item, .search__cards_img
			max-height: 350px !important
			max-width: 350px !important
			height: 350px !important
			width: 350px !important 
		.search__cards_item 
			&:nth-child(2n)
				margin-left: 2px !important 
			&:nth-child(2n+1)
				margin-right: 2px !important 
	.object__btn
		input
			width: 600px
			height: 100px

@media only screen and (max-width: 730px)
	.header__logo
		text-align: center
	.header__socials
		margin-left: 0 !important

	// MAIN 
	.main__content
		padding: 590px 5px 69px 10px !important 
		margin: 0 !important
	.main__title
		font-size: 39px !important
		line-height: 1 !important
		letter-spacing: 0.02em !important
	.main__btn
		padding: 0 !important
		font-size: 16px !important
		line-height: 41px !important
		border-radius: 26px !important
		height: 52px !important
		width: 232px !important

	// ABOUT	
	.about
		padding: 60px 12px 66px 0
	.text__bg-about
		top: -3%
		left: 2%
		font-size: 15vw
		letter-spacing: 11vw
	.about__title
		margin-left: 0
		font-size: 27px
		line-height: 34px 
	.about__list 
		margin-top: 45px
		margin-bottom: 70px
		justify-content: space-between !important
	.about__list_item
		max-width: 50% !important
		width: 50% 
		font-size: 12px
		line-height: 14px
	.about__list-title
		font-size: 17px !important
		line-height: 1 !important
		max-width: 217px
		min-width: 180px 
		height: 33px
		padding-top: 11px 
		padding-bottom: 8px
	
	// ADVANTAGES 
	.advantages
		padding: 42px 0px 51px !important
	.advantages__title
		font-size: 28px
		line-height: 31px
	.advantages__list
		margin-top: 48px !important 
	.advantages__list_item	 
		min-width: 219px
		width: 35% !important 
		height: 93px	!important 
		padding-right: 14px
		margin: 13px 6px 13px 6px !important
		&:nth-child(2n)
			margin-right: 0 !important
		&:nth-child(2n+1)
			margin-left: 0 !important
		&:nth-child(1), &:nth-child(2)
			margin-top: 0 !important
		&:nth-last-child(1), &:nth-last-child(2)
			margin-bottom: 0 !important
	.advantages__list-logo
		max-width: 80px !important
		width: 100% !important
		height: 75px !important
		img
			max-height: 50px
			height: 100% 
	.advantages__list-text
		width: 140px	!important
		font-size: 15px !important

	.estate 
		.search__cards_item, .search__cards_img
			max-height: 300px !important
			max-width: 300px !important
			height: 300px !important
			width: 300px !important 
		.search__cards_text
			padding-top: 145px
		.search__cards_title
			font-size: 19px
		.search__cards_price
			font-size: 16px

	.recomendations__title
		font-size: 23px 

	.recomendation__items
		.slick-slide
			width: 235px
		.recomendation__img
			img
				height: 230px
				width: 230px
	.about__company_card_text, .about__company_card_text p
		font-size: 18px

	.founders__about_title
		font-size: 17px
		line-height: 15px
		margin-bottom: 12px
	.founders__about_p
		font-size: 16px !important
	.founders__about_img, .founders__about_img img
		border-radius: 35px
	.founders 
		padding-bottom: 35px
	.family__companies-row 
		.family__companies_title
			font-size: 20px 
		.family__companies_p
			font-size: 17px !important  
	
	.contacts
		padding: 136px 40px 65px !important
	.contacts__map
		max-height: 394px
		max-width: 450px 
		img
			height: 394px !important
			width: 450px !important

	.object
		.gallery_thubn
			.slick-track
				height: 80px
			.slick-slide, img
				height: 80px
				width: 80px 
			.slick-slide
				margin: 7px 4px 
		.gallery_items 
			max-width: 550px
			max-height: 500px 
			img
				width: 100%
				height: 500px 
	.object__name, .object__code
		margin-left: 13px
	.object__btn
		bottom: 50%

@media only screen and (max-width: 680px)
	.about__list_item
		margin-bottom: 43px
	.about__list-text
		font-size: 16px 
		max-width: 250px
	.about__list-logo
		max-height: 50px
	.about__list-title
		margin: 10px auto 6px 

	.about__stat-bg
		font-size: 130px !important
		line-height: 81px
		letter-spacing: 0
		.about__stat-text
			max-width: 160px
	.about__stat_item.medium
		.about__stat-bg
			font-size: 122px !important
			line-height: 76px
		.about__stat-text
			max-width: 185px
	.about__stat_item.small
		.about__stat-bg
			font-size: 97px !important
			line-height: 61px
		.about__stat-text
			max-width: 260px

	.about__stat-number
		font-size: 63px
		line-height: 53px
	.about__stat-text
		font-size: 17px
		line-height: 17px

	.search
		padding: 81px 0px 25px !important
	.text__bg-search
		top: -2.5%
		left: 0.5% 
		letter-spacing: 8vw
		font-size: 16vw
	.search__title
		font-size: 27px
		letter-spacing: 0.04em
		max-width: 320px 
	.footer__nav-title
		font-size: 17px !important 
		line-height: 25px 
	.footer__nav-list
		ul 
			li 
				a
					font-size: 14px !important
					line-height: 25px !important
	.estate 
		.search__cards_item, .search__cards_img
			max-height: 250px !important
			max-width: 250px !important
			height: 250px !important
			width: 250px !important 
		.search__cards_text
			padding-top: 120px

	.recomendation__items
		.slick-slide
			width: 160px
		.recomendation__img
			img
				height: 155px
				width: 155px
	.founders__about_title
		font-size: 17px
		line-height: 15px
		margin-bottom: 12px
	.founders__about_p
		font-size: 14px !important
	.founders__about_img
		max-height: 600px
		img
			height: 600px !important
	.family__companies-row 
		.family__companies_title
			font-size: 18px 
		.family__companies_p
			font-size: 16px !important 
			line-height: 20px !important 

@media only screen and (max-width: 620px)
	.about__list-text
		font-size: 13px 
		max-width: 220px
	.text__bg-about
		top: -5%
	.select
		margin-right: 18px
		height: 28px
		width: 140px
		select
			font-size: 11px
			line-height: 27px
			min-height: initial
		.icon	
			position: absolute
			z-index: -1
			top: 50%
			margin-top: -5px 
			right: 16px
			width: 8px
			height: 6px 
			&::after
				content: ""
				position: absolute
				z-index: -1
				top: 5px 
				left: 1px
				display: block 
				height: 1px 
				width: 5px
				transform: rotate(55deg) 
				background-color: $teal2	
			&::before
				content: ""
				position: absolute
				z-index: -1
				top: 4px 
				left: 4px
				display: block
				height: 1px 
				width: 5px
				transform: rotate(-55deg) 
				background-color: $teal2	
	.select_btn
		height: 29px
		width: 124px
		font-size: 11px
		line-height: 27px 
	.search__title
		margin-bottom: 21px
	.search__criteria
		margin-bottom: 14px
	.more__btn
		height: 41px
		width: 205px
		border-radius: 20.5px
		font-size: 15px
		margin-top: 19px

	// Footer
	.footer 
		padding: 60px 15px 58px 20px !important
	.footer__btn-phone
		width: 210px
		height: 40px
		font-size: 20px
		line-height: 39px
		border-radius: 18px
	.footer__bigger-list
		width: 48%
		margin-right: 0
		ul 
			li 
				max-height: 42px
				max-width: 42px
	.footer
		padding: 62px 14px 42px 21px !important 
	.inside 
		&:not(.footer__light)
			.footer__nav
				margin-top: 50px !important 

	.estate 
		.search__cards_item, .search__cards_img
			max-height: 230px !important
			max-width: 230px !important
			height: 230px !important
			width: 230px !important  
		.search__cards_text
			padding-top: 110px
			padding-bottom: 15px

	.recomendations__title
		font-size: 18px
		line-height: 23px
	.recomendations__line
		height: 3px
	.estate__recomendations
		padding: 60px 6px 27px 
	.recomendations__header
		margin-bottom: 18px 

	.about__company_card_text, .about__company_card_text p
		font-size: 14px
		line-height: 18px

	.founders__about_title
		font-size: 16px
		line-height: 15px
		margin-bottom: 12px
	.founders__about_p
		font-size: 12px !important
	.founders__about_cards
		margin-left: 0
		margin-right: 15px

	.family__companies_title
		font-size: 17px  
	.family__companies_p
		font-size: 14px 
	.family__companies_img img
		margin-bottom: 0
	.founders
		padding: 120px 8px 31px 
	.family__companies-row
		margin-top: 20px !important
		.family__companies_text
			margin-right: 5px 
		.family__companies_title
			font-size: 16px 
		.family__companies_p
			font-size: 12px !important  
			line-height: 17px !important 
		.family__companies-col
			&:first-child
				.family__companies_img
					max-height: 213px 
					max-width: 230px 
					picture, img
						min-height: 213px !important
						min-width: 230px !important
			&:last-child
				.family__companies_img
					max-height: 244px 
					max-width: 194px 
					picture, img
						min-height: 244px !important
						min-width: 194px !important
			.family__companies_founder
				margin-bottom: 0 !important
		.reverse
			margin-left: 16px
	.founders__title
		font-size: 28px
		top: 40px

	.contacts__title
		font-size: 35px 
	.contact_type, .contact_value
		font-size: 20px 

	.object__btn input
		width: 500px 
		padding: 23px 127px 26px 
		font-size: 27px

@media only screen and (max-width: 480px)
	.header__logo 
		img
			max-width: 90px !important
			max-height: 64px !important
	.sandwich
		width: 37px !important
		height: 30px !important
	.sw-topper, .sw-bottom, .sw-footer
		height: 5px !important
		width: 37px !important
		margin-bottom: 4px !important
	.header__phone
		img
			max-width: 31px !important
			max-height: 31px !important
	.toggle__mnu
		padding: 0 !important
	header
		padding: 15px 35px 20px 28px !important 

	.container
		padding-left: 15px !important
		padding-right: 15px !important

	.about__list-text
		font-size: 12px 
		line-height: 14px 
		max-width: 200px
	.about__list-logo
		max-height: 52px 

	.search
		padding: 81px 0px 25px !important
	.text__bg-search
		top: -3.5%
		left: 0.5% 
		letter-spacing: 9vw
		font-size: 15vw 

	// FOOTER
	.footer__nav 
		justify-content: space-between
		margin-left: 24px !important
	.footer__nav-item   
		margin-left: 0 !important
		margin-bottom: 0 !important
		width: 50% !important   
	.footer__bigger 
		justify-content: center	 
	.footer__light 
		padding: 71px 13px 50px 20px !important
	.footer__bigger
		margin-top: 50px !important 

	.object__btn
		bottom: 44% 

	// ESTATE 
	.banner
		height: 170px
	.estate
		padding: 64px 0px 36px !important
	.estate__title
		top: 155px !important 
		left: 17px !important 
		font-size: 23px
		width: 260px
	.text__bg_estate
		top: -50px
	.estate__filter
		padding-top: 50px 
	.estate__cards
		margin-top: 47px

	.estate__pagination
		margin-top: 31px
		max-width: 190px
	.pagination__item
		a 
			font-size: 11px
			line-height: 13px
	.estate__filter
		padding-bottom: 0

	.recomendation__items
		.slick-slide
			width: 160px
		.recomendation__img
			img
				height: 155px
				width: 155px

	.about__company
		padding: 163px 23px 20px 27px !important
	.header__about
		padding: 7px 35px 45px 29px !important
	.text__bg-about-page
		left: 0 !important
		top: 33px !important
		letter-spacing: 7vw!important
		font-size: 18vw 
	.about__company_p_title
		font-size: 24px
		line-height: 13px 
		margin-bottom: 25px !important
	.about__company_p_text
		font-size: 14px
		line-height: 16px
	.about__company_card
		border-radius: 35px
		padding: 23px 26px 15px 28px  
	.about__company_card_img, .about__company_card_img img
		border-radius: 35px
	.about__company_card_img
		margin-bottom: 16px 


	.founders__title
		font-size: 27px 
		top: 40px
		left: 10px
	.founders__about_title
		font-size: 13px
		line-height: 15px
		margin-bottom: 8px
	.founders__about_p
		font-size: 11px  !important 
	.founders__about_img
		max-height: 484px
		img
			height: 484px !important
	.family__companies
		margin-top: 50px
		padding-top: 30px
		padding-left: 0
	.family__companies-first_line
		font-size: 13px
		margin-bottom: 0
		left: 0
	.family__companies_img
		max-height: 214px
		max-width: 186px
	.family__companies_p
		font-size: 11px
		line-height: 17px
	.family__companies_title
		font-size: 13px
		line-height: 16px
		margin-bottom: 15px
	.family__companies_img img
		margin-right: 10px
		margin-bottom: 10px
		height: 220px
		min-width: 190px
		width: 190px 
	.family__companies-row
		margin-top: 20px !important
		.family__companies_text
			margin-right: 5px 
		.family__companies_title
			font-size: 13px
			margin-bottom: 10px
		.family__companies_p
			font-size: 11px !important
			line-height: 15px !important
		.family__companies-col
			margin-bottom: 0 !important  
		.family__companies_founder
			margin-left: 0 !important
		.family__companies-col
			&:first-child
				.family__companies_img
					max-height: 213px 
					max-width: 230px 
					picture, img
						min-height: 213px !important
						min-width: 230px !important
			&:last-child
				.family__companies_img
					max-height: 244px 
					max-width: 194px 
					picture, img
						min-height: 244px !important
						min-width: 194px !important
				.family__companies_text
					margin-left: 16px

	.contacts
		padding: 92px 30px 13px 33px !important 
	.text__bg_contacts 
		left: 5px
		top: -30px
		letter-spacing: 3vw
		font-size: 14vw
	.contacts__title
		font-size: 27px
		margin-bottom: 47px
	.contact_type, .contact_value
		font-size: 16px
		line-height: 31px
	.contact_value
		margin-left: 0
	.social__item a, .social__item img 
		max-width: 32px
		max-height: 32px
	.contacts_item
		margin-bottom: 20px
		.contact_value 
			margin-left: 15px
	.contacts__coordinates
		margin-bottom: 25px
	.contacts__social .contact_type
		margin-bottom: 12px
	.contacts__social
		.social__item
			margin-bottom: 8px
			&:last-child
				margin-bottom: 0
	.contacts__map
		margin-top: 21px
		max-height: 363px
		max-width: 415px
		border-radius: 70px
		img
			height: 363px !important
			width: 415px !important
			border-radius: 70px


	.object 
		border-radius: 35px
		padding: 65px 0px 29px 
	.object__name
		font-size: 32px
	.object__code
		font-size: 12px
	.object__name, .object__code
		margin-left: 49px
	.text__bg_object
		top: -60px
		font-size: 15.5vw
	.object__btn
		bottom: 47%
		input
			width: 445px
			height: 70px
			padding: 23px 127px 26px 
			font-size: 24px
	.object__info
		margin: 115px 18px 0px 
		padding: 32px 12px 10px 
		max-width: 450px
	.object__characteristics
		width: initial
	.object__price, .characteristic__item
		font-size: 24px
		line-height: 42px
	.object__price > span
		font-size: 25px
	.object__price, .object__characteristics
		margin-left: 17px
	.object__characteristics
		height: initial
		margin-bottom: 35px
	.object__desc
		padding: 19px 0px 19px 24px
	.desc__title
		font-size: 24px
	.desc__text
		font-size: 17px
		line-height: 1.2em

	.slider
		margin-top: 20px
	.object
		.gallery_thubn
			.slick-track
				height: 61px
			.slick-slide, img
				height: 61px
				width: 61px 
			.slick-slide
				margin: 7px 4px 
		.gallery_items 
			max-width: 471px
			max-height: 464px 
			img
				width: 100%
				height: 464px
				border-radius: 70px 

	.estate, .object
		top: -17px
	.mobile_menu 
		top: 96px !important