

/* ABOUT */
.about
	position: relative
	padding-top: 144px
	padding-bottom: 93px 
	width: 100%
	height: 100%

.about__title
	width: 215px 
	color: $dustyrose
	line-height: 53px
	> span
		color: $teal2
		white-space: nowrap

.about__list 
	width: 100%
	margin: 93px auto 170px 
	display: flex
	justify-content: space-between
	text-align: center
	align-items: flex-start

.about__list_item
	display: flex
	flex-direction: column
	align-items: center	
	width: 25% 
	text-align: center

.about__list-logo
	height: 80px
	width: 90px 
	position: relative
	> img
		vertical-align: middle	 
		max-height: 100%
		max-width: 100%
		position: absolute 
		margin: auto
		top: 0
		left: 0
		bottom: 0
		right: 0

.about__list-title
	text-transform: uppercase
	height: 45px
	min-width: 248px
	padding: 13px 18px
	margin: 11px auto
	background-color: $teal2
	border-radius: 22.5px 
	font-size: 24px
	font-weight: bold
	line-height: 25px
	color: $white
	&:first-child
		margin-left: 0
	&:last-child
		margin-right: 0


.about__list-text
	color: $teal2
	font-size: 17px
	line-height: 19px
	width: 250px
	margin: 0 auto

.about__stat 
	display: flex
	justify-content: space-between 
	max-height: 40%

.about__stat_item
	position: relative
	display: flex
	flex-direction: column
	align-items: center 
	max-height: 150px
	height: 100%
	margin: 0 auto 
	&:first-child
		margin-left: 0
	&:last-child
		margin-right: 0


.about__stat-bg
	position: absolute
	z-index: -1
	color: $mediumtaupe
	opacity: 0.08
	font-weight: 800
	text-align: center
	top: 5px
	white-space: nowrap
	max-width: 210%
	font-size: 185px
	line-height: 116px

.about__stat-text
	font-size: 24px
	line-height: 25px
	color: $teal2
	width: 230px  
	text-align: center 
	margin-left: -25px

.about__stat_item.medium
	.about__stat-bg
		font-size: 175px
		line-height: 109px 
	.about__stat-text
		width: 270px

.about__stat_item.small
	.about__stat-bg
		font-size: 139px
		line-height: 87px  
	.about__stat-text
		width: 370px


.about__stat-number
	font-size: 90px
	line-height: 76px
	font-weight: 800
	color: $mediumtaupe 
	height: 76px



/* ADVANTAGES */

.advantages
	width: 100%
	padding: 70px 0px calc( 93px - 23px ) 
	background: url("../img/advantages/bg.png") $teal2
	@include positioning-bg-center 
	border-radius: 60px 

.advantages__title
	font-size: 50px
	font-weight: bold
	line-height: 58px
	text-transform: uppercase
	color: $white
	> span
		color: $mediumtaupe
		display: block

.advantages__list	
	margin-top: calc( 61px -  20px) 
	width: 100%
	display: flex
	flex-wrap: wrap 
	justify-content: center	
.advantages__list_item
	display: flex
	align-items: center
	width: calc(50% - 2em)
	margin: 1em 
	height: 93px
	background-color: $white
	border-radius: 35px 
	padding: 0 25px	
	margin: 20px 37px
	&:nth-child(2n)
		margin-right: 0 
		margin-left: auto
	&:nth-child(2n+1)
		margin-left: 0 
		margin-right: auto

.advantages__list-logo
	max-width: 80px
	width: 100%
	height: 60px
	border-right: 3px solid #88adad
	text-align: center
	position: relative
	> img
		max-height: 100%
		max-width: 100%
		position: absolute 
		margin: auto
		top: 0
		left: 0
		bottom: 0
		right: 0

.advantages__list-text
	margin: 0 auto
	width: 370px
	color: $teal2
	font-size: 22px
	text-align: center

/* SEARCH */

.search
	padding-top: 250px
	padding-bottom: 70px 
	position: relative 

.search__form
	display: flex 
	align-items: center
	flex-wrap: wrap
	margin-right: 58px

.search__criteria
	display: flex
	justify-content: space-between
	align-items: flex-end 
	margin: 0 auto
	margin-bottom: 72px 

.search__title 
	color: $dustyrose
	width: 490px
	line-height: 100%
	> span
		color: $teal2

.select
	width: 195px	
	height:	47px
	margin-right: 41px
	position: relative
	display: inline-block 
	.icon	
		position: absolute
		z-index: -1
		top: 50%
		margin-top: -5px 
		right: 16px
		width: 11px
		height: 9px 
		&::after
			content: ""
			position: absolute
			z-index: -1
			top: 4px 
			left: 0px
			display: block 
			height: 1px 
			width: 8px
			transform: rotate(55deg) 
			background-color: $teal2	
		&::before
			content: ""
			position: absolute
			z-index: -1
			top: 4px 
			left: 4px
			display: block
			height: 1px 
			width: 8px
			transform: rotate(-55deg) 
			background-color: $teal2	
			
.select_type, .select_region
	width: 100% 
	min-height: 47px 
	height: 100%
	border: 2px solid $teal2
	border-radius: 22.5px 
	padding-left: 13px
	font-family: "Circe"
	font-size: 17px
	line-height: 100%
	color: $teal2 
	appearance: none	
	background-color: transparent
	position: relative
	z-index: 1
	&:focus 
		outline: none
	&:hover
		cursor: pointer
	option
		width: 100%

.select_btn
	width: 197px
	height: 47px
	background-color: $teal2
	border-radius: 22.5px 
	text-transform: uppercase
	color: $offwhite
	font-size: 17px
	line-height: 43px

.search__cards  
	display: flex
	flex-wrap: wrap 
	justify-content: center
	align-items: stretch 
	margin: -3px 58px

.search__cards_item	 
	position: relative 
	min-height: 100% 
	width: calc( 50% - 3px ) 
	aspect-ratio: 9/5
	margin: 3px
	border-radius: 6px	 
	img 
		object-fit: cover
		height: 100%
		width: 100%
		transition: 0.2s 
		border-radius: 30px 
	&:nth-child(2n)
		margin-right: 0
	&:nth-child(2n+1)
		margin-left: 0	
	&:hover
		img
			filter: brightness(50%) 
		> .search__cards_text
			z-index: 2

.search__cards_img
	width: 100%
	height: 100%
		
.search__cards_text
	position: absolute
	z-index: -1
	top: 86%
	display: flex
	width: 100%
	justify-content: space-between
	padding-left: 33px
	padding-right: 22px
	color: $white
	font-size: 28px
	font-weight: bold
	transition: 0.2s
	text-transform: uppercase 

.more__btn
	display: block
	width: 324px
	height: 64px
	line-height: 64px
	background-color: $mediumtaupe
	border-radius: 32px 
	margin: 0 auto
	margin-top: 73px
	text-transform: uppercase
	font-size: 24px
	color: $white!important
	&:visited
		color: $white